body{
  color: #f6f6f6;
  background-color: #292c33;
  text-align: center
}
#header{
  margin: auto;
  margin-top: 50px;
  font-family: Helvetica;
}
#difficulty{
  width: 100px;
  padding: 12px;
  font-size: 17px;
}
#start{
  padding: 15px;
}
#container{
  background-color: gray;
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  margin-top: 100px;
}
.tower{
  margin: 10px;
  margin-top: 15px;
  width: 370px;
  min-height: 670px;
  border: 1px solid black;
  display: inline-block;
}
#t1{
  background-color: lightblue;
}
#t2{
  background-color: lightgreen;
}
#t3{
  background-color: lightpink;
}
.disc{
  // position: absolute;
  height: 67px;
  width: 350px;
  margin: auto;
  clear: both;
  bottom: 0;
  background-color: green;
  border: 1px solid black;
}
